.client__swiper {
    width: 100%; /* Слайдер растягивается на всю ширину */
    overflow: hidden; /* Скрываем выступающие элементы */
}

@media (max-width: 768px) {
    .client__swiper {
      padding: 10px; /* Уменьшение отступов на маленьких экранах */
    }
  }