.client__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--white); /* Белый фон карточек */
  border: 1px solid #ddd; /* Легкая граница */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
  padding: 20px;
  transition: transform 0.3s;
}

.client__card:hover {
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

.client__card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.client__card p {
  font-size: 14px;
  color: var(--text-light);
  line-height: 1.5;
}

.client__card h4 {
  margin-top: 10px;
  font-size: 18px;
  color: var(--text-dark);
}

@media (max-width: 540px) {
  .client__card {
    padding: 15px;
  }
  .client__card img {
    width: 60px;
    height: 60px;
  }
  .client__card h4 {
    font-size: 16px;
  }
  .client__card p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .client__card {
    padding: 20px;
  }
  .client__card img {
    width: 70px;
    height: 70px;
  }
  .client__card h4 {
    font-size: 17px;
  }
  .client__card p {
    font-size: 14px;
  }
}