.header__menu {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}

@media (width > 768px){
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}
