.header__menu-items {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

@media (width > 768px){
  .header__menu-items {
    padding: 0;
    background-color: transparent;
  }
}
