.banner__container {
    padding-block: 10rem;
    display: grid;
}

@media (width > 768px){
    .banner__container {
      padding-block: 12rem;
      grid-template-columns: repeat(2, 1fr);
    }
}