.banner__content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    line-height: 5rem;
    color: var(--white);
}
  
.banner__content h2 {
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--primary-color);
}
  
.banner__content p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);
    margin-bottom: 1rem;
}

@media (width > 768px){
    .banner__content {
      grid-column: 2/3;
    }
}