.schedule__day {
    background-color: var(--extra-light);
    border: 2px solid var(--text-dark);
    border-radius: var(--border-radius);
    padding: 15px;
    text-align: center;
    transition: transform var(--transition-speed);
}

.schedule__day:hover {
    transform: scale(1.05);
}

@media (max-width: 320px) {
    .schedule__day {
        text-align: center;
        margin: 0;
    }
}