.about__title {
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

@media (width > 768px){
    .about__title {
      text-align: right;
    }
}