.blog__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

@media (width > 540px) {
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px){
  .blog__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}